fastapi
uvicorn
sqlalchemy
pymysql
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic-settings
pydantic[email]
email-validator
python-dotenv
pandas
openpyxl
python-docx
apscheduler
alembic
reportlab
pywebpush
py-vapid
websockets
filetype